:root { /*Define as propriedades gerais da página. Corresponde à tag <html>*/
    box-sizing: border-box;
}
    
.container{
    display: block;
}

.Ícone{
    border: solid blue;
    margin: 0px auto;
    display: inline-block;
    
}

#Ferramenta{
    margin-left: 25px;
    margin-top: 0px;
}

/* ===============
   Menu de Navegação
   =============== */

.site-nav {
    display: block;
    padding: 0.5em;
    list-style-type: none;
    background-color: #f9f9ff;
    border-radius: 0.2em;
    margin-left: 0px;
}

.site-nav > li {
    margin: 0;
    padding: 0.1em 0.2em;
    display: inline-block;
}

.site-nav > li > a {
    display: block;
    padding: 2em 2em;
    background-color: #eee;
    color: #9aa1b1;
    text-decoration: none;
}

.site-nav > li > a:hover {
    color: white;
    background-color: #f42f2c;
    border: 1px dashed white;
}

.nav-right > a:nth-child(1) {
    background-color: #f42f2c;
    color: white;
}

.nav-right > a:nth-child(1):hover {
    color: #f42f2c;
    background-color: white;
    border: 1px dashed #f42f2c;
}
